ALTER TABLE public.content_services ADD COLUMN featured_image_id uuid REFERENCES public.media_assets(id) ON DELETE SET NULL;
ALTER TABLE public.content_industries ADD COLUMN featured_image_id uuid REFERENCES public.media_assets(id) ON DELETE SET NULL;
ALTER TABLE public.content_projects ADD COLUMN featured_image_id uuid REFERENCES public.media_assets(id) ON DELETE SET NULL;
ALTER TABLE public.content_insights ADD COLUMN featured_image_id uuid REFERENCES public.media_assets(id) ON DELETE SET NULL;
